.App {
  font-family: sans-serif;
  text-align: center;
  
}
table{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 200;
  background-color: blueviolet;
  width: max-content;
  border: crimson;
  border-radius: 20px;
  align-self: center;
  align-content: center;
  font-size: x-large;
  text-align: center;
  font-stretch:ultra-expanded
}
